/* Update Task Page */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.page-header h1 {
    font-size: 32px;
    color: #2c3e50;
}

.page-header p {
    color: #7f8c8d;
}

.page-header a {
    padding: 10px 18px;
    background: #bdc3c7;
    color: #2c3e50;
    border-radius: 8px;
    text-decoration: none;
}

.page-header a:hover {
    background: #95a5a6;
}

.form-card {
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-weight: 600;
    color: #34495e;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 12px;
    width: 100%;
    border: 1px solid #dcdde1;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #3498db;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-primaray {
    background: #3498db;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-primaray:hover {
    background: #2980b9;
}

.btn-secondary {
    background: #bdc3c7;
    color: #2c3e50;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-secondary:hover {
    background: #95a5a6;
}